/*==========  section footer ==========*/
footer {
  padding: 87px 0 66px; }
  footer .logo {
    max-width: 239px;
    margin: 0 0 46px; }
  footer .phone {
    margin: 8px 0 14px;
    font-size: 47px;
    font-weight: bold; }
  footer .link-calculate {
    font-size: 35px; }

.address {
  max-width: 225px;
  line-height: 20px; }
  .address p {
    margin: 0 0 16px; }
    .address p:last-child {
      margin: 0; }

.footer-contacts {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.link-callback {
  font-size: 22px; }

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer-box {
  width: 50%;
  margin: 0 0 42px;
  font-size: 18px;
  line-height: 26px; }
  .footer-box__title {
    color: #fff;
    font-weight: bold; }
    .footer-box__title:hover {
      color: #03B3DA; }

.footer-menu li {
  display: block;
  width: 100%; }
  .footer-menu li a {
    color: #fff; }
    .footer-menu li a:hover {
      color: #03B3DA; }

/*==========  section footer end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
