/*==========  section accordion-slider ==========*/
.as-mask, .as-panels {
  width: calc(100% + 2px) !important; }

.as-panel {
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: hidden; }
  .as-panel .btn-calculate {
    display: none; }
  .as-panel:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.56);
    mix-blend-mode: multiply;
    -webkit-transition: all 1.2s linear;
    transition: all 1.2s linear; }
  .as-panel.as-opened:before {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.78)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.78) 100%);
    height: 444px;
    mix-blend-mode: multiply; }
  .as-panel.as-opened .as-panel__content {
    -webkit-transition: opacity 0.7s linear;
    transition: opacity 0.7s linear;
      -webkit-transition-delay: 1s;
              transition-delay: 1s;
    padding: 10px 155px 132px; }
    .as-panel.as-opened .as-panel__content .btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .as-panel.as-opened .as-panel__content .btn-calculate {
      display: none; }
    .as-panel.as-opened .as-panel__content h3 {
      font-size: 50px;
      margin: 0 0 15px; }
    .as-panel.as-opened .as-panel__content .box-text {
      font-size: 20px;
      max-width: 547px;
      line-height: 27px; }
  .as-panel__content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 60px 100px;
    color: #fff; }
    .as-panel__content .btn {
      display: none;
      margin: 26px 0 0; }
    .as-panel__content h3 {
      margin: 0 0 30px; }
    .as-panel__content .box-text {
      max-width: 239px; }
  .as-panel .as-background {
    width: 100%;
    height: 100% !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    -webkit-transition: all .7s;
    transition: all .7s; }

.as-shadow {
  -webkit-box-shadow: none;
          box-shadow: none; }

.as-pagination-buttons {
  background: #000;
  padding: 19px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: none;
  position: relative;
  z-index: 1; }

.as-has-buttons {
  margin: 0; }

.as-pagination-button {
  width: 12px;
  height: 2px;
  background: #D9D9D9;
  margin: 0 9px 0 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: none;
    border-radius: 0; }
  .as-pagination-button:last-child {
    margin: 0; }

.as-pagination-buttons .as-selected {
  background: #03B3DA;
  width: 71px; }

/*==========  section accordion-slider end  ==========*/
/*==========  section why-trusted ==========*/
.why-trusted {
  padding: 89px 0 20px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .why-trusted h2 {
    max-width: 376px; }
  .why-trusted__description {
    line-height: 22px;
    font-size: 18px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    width: calc(100% - 376px); }
    .why-trusted__description:before {
      content: '';
      display: inline-block;
      width: 62px;
      min-width: 62px;
      height: 0.75px;
      background: #FFFFFF;
      margin: 0 40px 0 0; }

.counter-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 75px 0 80px;
  font-size: 25px; }

.why-trusted-slider h3 {
  color: #03B3DA;
  margin: 0 0 60px;
  font-weight: normal;
  font-size: 24px; }

.why-trusted-slider .box-text {
  font-size: 18px;
  line-height: 22px;
  max-width: 379px; }

.counter-slide .slick-dots {
  margin: 0;
  width: 100%; }
  .counter-slide .slick-dots li {
    height: auto;
    margin: 0; }
  .counter-slide .slick-dots li:not(.slick-active) {
    display: none; }
  .counter-slide .slick-dots li.slick-active {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: transparent;
    color: #fff; }
  .counter-slide .slick-dots button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: transparent;
    color: #fff; }

.why-trusted-images-slider {
  min-width: 1288px;
  padding: 0 0 0 60px; }
  .why-trusted-images-slider__item {
    min-width: 1288px;
    height: 552px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .why-trusted-images-slider__item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.why-trusted-navigation-slider {
  padding: 0 0 0 60px;
  font-weight: bold;
  min-width: 1288px; }
  .why-trusted-navigation-slider .slick-current {
    color: #676767; }
  .why-trusted-navigation-slider__item {
    cursor: pointer; }
  .why-trusted-navigation-slider .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    stroke: #fff; }
  .why-trusted-navigation-slider .slick-next {
    right: 0; }
  .why-trusted-navigation-slider .slick-prev {
    display: none !important;
    left: 0; }

.why-trusted-navigation {
  padding: 39px 0;
  border-top: 0.75px solid #FFFFFF; }

/*==========  section why-trusted end  ==========*/
/*==========  section showroom ==========*/
.showroom {
  background: url("../img/showroom-bg.jpeg") no-repeat center;
    background-size: cover;
  position: relative;
  color: #ffff;
  z-index: 1;
  padding: 441px 0 180px;
  overflow: hidden; }
  .showroom h2 {
    font-size: 101px;
    line-height: 1; }
  .showroom:before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    mix-blend-mode: multiply; }
  .showroom .box-text {
    max-width: 683px;
    line-height: 34px;
    font-size: 28px; }
  .showroom .btn {
    margin: 24px 0 0 auto; }

/*==========  section showroom end  ==========*/
/*==========  section project ==========*/
.projects {
  padding: 100px 0 120px; }

.link-all {
  margin: 0 0 0 auto; }

.projects-box {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #000;
  font-size: 16px; }
  .projects-box__head {
    padding: 26px 44px; }
  .projects-box__image {
    width: 100%;
    height: 362px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .projects-box__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .projects-box__body {
    width: 100%;
    padding: 33px 52px 53px 44px; }
  .projects-box .btn {
    margin: 20px 0 0 auto;
    font-size: 13px;
    font-weight: normal; }
  .projects-box__title {
    color: #fff;
    max-width: 170px;
    font-size: 23px;
    font-weight: bold;
    margin: 0 0 12px; }
    .projects-box__title:hover {
      color: #03B3DA; }
  .projects-box .box-text {
    font-size: 18px;
    line-height: 22px; }

.projects-slider {
  margin: 0 0 50px; }
  .projects-slider .slide {
    padding: 0 21.5px;
    height: auto; }
  .projects-slider .slick-list {
    margin: 0 -21.5px; }
  .projects-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }

/*==========  section project end  ==========*/
/*==========  section home ==========*/
.home {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 124px 0;
  min-height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .home:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 444px;
    z-index: -1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.78)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.78) 100%);
    mix-blend-mode: multiply; }
  .home .box-text {
    font-size: 25px;
    line-height: 29px;
    max-width: 920px; }

.home-about {
  background: url("../img/home-about.jpeg") no-repeat center;
    background-size: cover; }

/*==========  section home end  ==========*/
/*==========  section about ==========*/
.about {
  padding: 105px 0 80px; }
  .about h2 {
    margin: 0 0 45px; }

.about-description {
  font-size: 18px;
  line-height: 22px; }

.about-box {
  padding: 0 0 70px;
  margin: 0 0 63px;
  border-bottom: 1px solid #FFFFFF; }
  .about-box:last-child {
    padding: 0;
    margin: 0;
    border: none; }

.about-in-number {
  font-size: 25px; }

.benefits__number {
  margin: 0 0 12px;
  font-size: 101px;
  line-height: 1;
  color: #03B3DA; }

.team-box {
  width: 100%;
  height: 100%;
  border: 0.75px solid #000000;
  background: #fff;
  color: #000; }
  .team-box__photo {
    width: 100%;
    height: 227px;
    background: #D9D9D9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .team-box__body {
    padding: 27px 25px 38px;
    width: 100%; }
  .team-box h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 13px; }
  .team-box .position {
    color: #7D7D7D; }
  .team-box__footer {
    margin: 34px 0 0;
    padding: 18px 0 0;
    width: 100%;
    border-top: 0.75px solid #000000; }

.list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-contacts li {
    margin: 0 20px 0 0; }
    .list-contacts li:last-child {
      margin: 0; }
    .list-contacts li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 34px;
      height: 34px;
      border: 0.75px solid #000000;
        border-radius: 50%;
      fill: #000;
      padding: 8px; }
      .list-contacts li a:hover {
        background: #03B3DA;
        border-color: #03B3DA; }
    .list-contacts li .fill-none {
      fill: none;
      stroke: #000; }

.team-wrapper {
  margin: 0 -10px; }
  .team-wrapper > * {
    padding: 0 10px; }

/*==========  section about end  ==========*/
/*==========  section reviews ==========*/
.reviews {
  padding: 103px 0 54px; }

.reviews-slider {
  margin: 0 auto 35px; }
  .reviews-slider .slide {
    padding: 0 21.5px; }
  .reviews-slider .slick-list {
    margin: 0 -21.5px; }

.reviews-box {
  margin: 0 0 25px;
  background: #fff;
  width: 100%;
  padding: 39px 40px 48px 36px; }
  .reviews-box__head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 28px; }
  .reviews-box__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 95px;
    height: 94px;
    overflow: hidden; }
    .reviews-box__photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .reviews-box__name {
    width: calc(100% - 95px);
    padding: 0 0 0 34px; }
  .reviews-box h4 {
    font-size: 23px;
    font-weight: bold;
    max-width: 200px; }
  .reviews-box .position {
    color: #747474;
    font-size: 18px;
    margin: 10px 0 0; }
  .reviews-box__body {
    font-size: 18px;
    line-height: 22px; }
    .reviews-box__body p {
      margin: 0 0 25px; }
      .reviews-box__body p:last-child {
        margin: 0; }
  .reviews-box__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 29px 0 0; }
  .reviews-box .date {
    color: #747474;
    font-size: 18px; }

.reviews-v2 {
  padding: 105px 0 120px; }

/*==========  section reviews end  ==========*/
/*==========  section certificates ==========*/
.certificates h2 {
  margin: 0 0 46px; }

.certificates-slider .slide {
  padding: 0 60px; }

.certificates-slider .slick-list {
  margin: 0 -60px; }

.certificates-slider__nav {
  max-width: 1100px;
  width: 100%;
  margin: 60px auto 0; }

.certificate-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .certificate-box img {
    width: 100%; }

/*==========  section certificates end  ==========*/
/*==========  section partners ==========*/
.partners {
  padding: 119px 0 89px; }
  .partners h2 {
    margin: 0 0 46px; }

.partners-row {
  margin: 0 -11px; }
  .partners-row > * {
    padding: 0 11px; }

.partners-box {
  width: 100%;
  height: 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #D9D9D9;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  color: #fff; }
  .partners-box img {
    max-height: 100%; }

/*==========  section partners end  ==========*/
/*==========  section home-portfolio ==========*/
.home-portfolio {
  background: url("../img/home-portfolio.jpg") no-repeat center;
    background-size: cover; }

.completed-projects {
  padding: 107px 0 0; }
  .completed-projects .projects-box {
    height: auto;
    margin: 0 0 53px 0; }
    .completed-projects .projects-box:last-child {
      margin: 0; }
  .completed-projects .projects-slider__nav {
    max-width: 1000px;
    margin: 0 auto; }

.nav-tabs-portfolio {
  margin: 53px 0 0;
  font-size: 25px; }
  .nav-tabs-portfolio .nav-item {
    margin: 0 144px 26px 0; }
  .nav-tabs-portfolio .nav-link {
    text-decoration: none;
    color: #000000; }
    .nav-tabs-portfolio .nav-link.active {
      background: transparent;
      color: #03B3DA; }

.btn-activation {
  margin: 52px auto 0;
  max-width: 499px;
  width: 100%; }

/*==========  section home-portfolio end  ==========*/
/*==========  section home-case ==========*/
.home-case {
  background: url("../img/case-home.jpg") no-repeat center;
    background-size: cover; }

.case-task {
  padding: 59px 0 50px; }
  .case-task .box-text {
    max-width: 700px;
    font-size: 18px;
    line-height: 22px; }
  .case-task h2 {
    margin: 0 0 27px; }

.case-implementation {
  padding: 50px 0 237px; }

.seo-content {
  margin: 87px 0 0;
  width: 100%;
  padding: 65px 0 70px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000; }
  .seo-content .box-text {
    max-width: none; }

.case-video-section {
  background: url("../img/video-preview.jpeg") no-repeat center;
    background-size: cover; }

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.all-projects {
  padding: 120px 0; }

.all-projects-slider {
  margin: 0 0 77px; }
  .all-projects-slider .slide {
    margin: 0 22px; }

.all-projects-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 726px;
  width: 100%; }

/*==========  section home-case end  ==========*/
/*==========  section home-cinema ==========*/
.home-cinema {
  background: url("../img/tvs-bg.jpg") no-repeat center;
    background-size: cover; }

.projects-v2 {
  padding: 102px 0 0; }

/*==========  section home-cinema end  ==========*/
/*==========  section case-video-section ==========*/
.case-video-section {
  background: url("../img/tvs-showdown.jpeg") no-repeat center;
    background-size: cover; }
  .case-video-section .btn {
    margin: 74px 0 0;
    max-width: 252px;
    height: 58px;
    width: 100%;
    font-weight: normal;
    font-size: 20px; }

.technology-images-slider {
  padding: 0 0 0 60px;
  min-width: 1288px; }

.technology-images-slider__item {
  min-width: 1288px;
  height: 552px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }

.counter-slide-v2 {
  margin: 0; }

.technology-slider__item {
  position: relative;
  padding: 0 0 27px;
  border-bottom: 1px solid #fff; }
  .technology-slider__item h3 {
    font-size: 17px;
    font-weight: bold;
    margin: 27px 0 0;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .technology-slider__item .box-text {
    font-size: 18px;
    line-height: 22px;
    margin: 27px 0 0;
    display: none;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .technology-slider__item img {
    display: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    max-width: 700px;
    margin: 20px auto 0; }

.technology-slider .slick-track, .technology-slider .slick-list {
  height: auto !important; }

.technology-slider .slick-current .technology-slider__item .box-text {
  display: block; }

.technology-slider .slick-current .technology-slider__item h3 {
  font-size: 25px;
  color: #03B3DA; }

/*==========  section case-video-section end  ==========*/
/*==========  section personal-cinema ==========*/
.personal-cinema {
  padding: 103px 0 0; }
  .personal-cinema h2 {
    margin: 0 0 94px; }

.personal-cinema__content {
  width: 100%;
  position: relative;
  color: #fff;
  padding: 57px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .personal-cinema__content:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    height: calc(100% + 111px);
    width: 2000px;
    border: 0.75px solid #000000;
    background: #000; }

.figure-border {
  position: absolute;
  bottom: 0;
  right: -45px;
  width: 45px;
  border: 0.75px solid #000000;
  height: calc(100% + 111px - 13px); }
  .figure-border:nth-child(2) {
    height: calc(100% + 111px - 27px);
    right: -90px;
    border-left: none; }
  .figure-border:nth-child(3) {
    height: calc(100% + 111px - 40px);
    right: -135px;
    border-left: none; }

.personal-cinema-tabs {
  font-size: 15px;
  font-weight: 700;
  max-width: 1012px;
  width: 100%;
  padding: 0 43px;
  margin: 0 0 0 -43px;
  border-bottom: 1px solid #FFFFFF;
  position: relative;
  z-index: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .personal-cinema-tabs .nav-link {
    font-weight: 700;
    font-size: 15px;
    color: #868585;
    padding: 0 0 36px; }
    .personal-cinema-tabs .nav-link.active {
      text-decoration: underline;
      color: #868585;
      background: transparent; }

.tab-content__left {
  max-width: 345px;
  width: 100%; }
  .tab-content__left .counter-slide {
    margin: 0 0 11px; }

.personal-cinema-slider h3 {
  color: #03B3DA;
  margin: 0 0 34px;
  font-size: 25px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px); }

.personal-cinema-slider .box-text {
  line-height: 22px;
  font-size: 18px;
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px); }

.personal-cinema-slider .slick-dots {
  margin: 33px 0 0; }

.personal-cinema-slider .slick-active h3 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s; }

.personal-cinema-slider .slick-active .box-text {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }

.personal-cinema-images .slick-active .personal-cinema-images__item img {
  -webkit-animation: showImage .8s .5s forwards, scaleImage .5s .5s forwards;
          animation: showImage .8s .5s forwards, scaleImage .5s .5s forwards; }

@-webkit-keyframes showImage {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes showImage {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes hideImage {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes hideImage {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes scaleImage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center; } }

@keyframes scaleImage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center; } }

@-webkit-keyframes scaleBackImage {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center; }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center; } }

@keyframes scaleBackImage {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center; }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center; } }

.tab-content__right {
  width: calc(100% - 345px);
  padding: 0 0 0 32px; }

.personal-cinema-images__item {
  width: 100%;
  height: 645px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .personal-cinema-images__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-animation: hideImage .5s;
            animation: hideImage .5s;
    opacity: 0; }

.personal-cinema-navigation-slider {
  width: 100%;
  height: 100%;
  max-width: 323px;
  font-size: 18px;
  float: right;
  margin-left: auto;
  text-align: right;
  padding: 40px 0 0; }
  .personal-cinema-navigation-slider .slick-list {
    padding: 0; }
  .personal-cinema-navigation-slider .slick-slide {
    width: 100%;
    max-height: 70px;
    margin-bottom: 25px; }
  .personal-cinema-navigation-slider .personal-cinema-navigation-slider__item {
    cursor: pointer; }
  .personal-cinema-navigation-slider .slick-current .personal-cinema-navigation-slider__item {
    text-decoration: underline; }

.tab-content-slider-nav {
  height: 100%;
  text-align: right; }
  .tab-content-slider-nav .tab-content__item {
    height: 100%; }
  .tab-content-slider-nav .tab-content__item.active {
    display: block; }

/*==========  section personal-cinema end  ==========*/
/*==========  section home-tvs ==========*/
.home-tvs {
  background: url("../img/tvs-bg.jpeg") no-repeat center;
    background-size: cover; }

.tvs-video-section {
  background: url("../img/project4.jpeg") no-repeat center;
    background-size: cover; }

/*==========  section home-tvs end  ==========*/
/*==========  section home-house ==========*/
.home-house {
  background: url("../img/house-bg.jpeg") no-repeat center;
    background-size: cover; }

.house-video-section {
  background: url("../img/showroom-tvs.jpg") no-repeat center;
    background-size: cover; }

/*==========  section home-house end  ==========*/
/*==========  section  ==========*/
.homescript-slider-images {
  height: 46%;
  min-height: 46%;
  position: relative; }

.homescript-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-filter: blur(10px) grayscale(1);
          filter: blur(10px) grayscale(1);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: filter, opacity;
  transition-property: filter, opacity, -webkit-filter; }
  .homescript-image .rt-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left center;
       object-position: left center; }

.homescript-image--active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  -webkit-filter: blur(0px) grayscale(0);
          filter: blur(0px) grayscale(0); }

.homescript-slider-link {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding: 0 34px;
  max-height: 88px;
  min-height: 88px;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background, max-height, min-height, padding;
  transition-property: background, max-height, min-height, padding;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.rt-sys-icon {
  width: 25px;
  height: 14px;
  stroke: #fff; }

.homescript-slider-go-back {
  display: none; }
  .homescript-slider-go-back path {
    -webkit-transition-duration: 0.03s;
            transition-duration: 0.03s; }
  .homescript-slider-go-back .rt-sys-icon {
    display: block; }

.homescript-slider-back {
  -webkit-animation: 1s showArrow linear;
          animation: 1s showArrow linear; }

.homescript-slider-block--active .homescript-slider-go-back {
  position: absolute;
  left: 0;
  bottom: 37px;
  cursor: pointer;
  display: block;
  -webkit-animation: 0.5s showArrow linear;
          animation: 0.5s showArrow linear; }

.homescript-slider-block--active .homescript-header {
  min-height: auto; }
  .homescript-slider-block--active .homescript-header h4 {
    color: #03B3DA;
    font-weight: bold;
    margin: 0; }

.homescript-slider-block--active .homescript-slider-back {
  display: none; }

.homescript-slider-block--active .homescript-slider-link {
  padding-top: 53px;
  background: rgba(0, 0, 0, 0.6);
  min-height: 100%;
  max-height: 100%;
  cursor: default;
  background-blend-mode: multiply; }

.homescript-slider-block--active .homescript-body-text {
  opacity: 1; }

.homescript-slider-block--active .homescript-body {
  max-height: 800px;
  min-height: 100%; }

.homescript-body {
  position: relative;
  overflow: hidden;
  max-height: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: max-height;
  transition-property: max-height; }

.homescript-body-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  font-size: 16px;
  line-height: 18px; }
  .homescript-body-text ul li {
    margin: 0 0 10px; }
    .homescript-body-text ul li:last-child {
      margin: 0; }
  .homescript-body-text h3 {
    font-weight: normal;
    margin: 30px 0;
    max-width: 300px;
    line-height: 22px; }

.homescript-slider-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-width: 25%;
  max-width: 25%;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: height;
  transition-property: height; }
  .homescript-slider-block + .homescript-slider-block {
    border-left: 1px solid rgba(255, 255, 255, 0.7); }

.homescript-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: min-height;
  transition-property: min-height;
  min-height: 88px; }
  .homescript-header h4 {
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    line-height: 35px; }

.homescript-image-main {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  width: 100%;
  display: block; }
  .homescript-image-main .rt-img {
    width: 100%; }

.homescript-image-main--hide {
  opacity: 0; }

.homescript-slider-nav {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.smart-icon {
  width: 80px;
  height: 80px; }

@-webkit-keyframes showArrow {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes showArrow {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*==========  section end  ==========*/
/*==========  section smart-home-scenarios ==========*/
.smart-home-scenarios {
  padding: 103px 0 0; }

.box-text-description {
  margin: 30px 0;
  font-size: 18px;
  line-height: 22px; }

/*==========  section smart-home-scenarios end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
