/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1650px) {
  .why-trusted-images-slider {
    min-width: auto; }
    .why-trusted-images-slider__item {
      min-width: auto; }
  .why-trusted-navigation-slider {
    min-width: auto; }
  .showroom h2 {
    font-size: 86px; } }

@media only screen and (max-width: 1600px) {
  .as-panel__content {
    padding: 20px 30px 40px; }
  .as-panel.as-opened .as-panel__content {
    padding: 10px 70px 70px; }
  .why-trusted-navigation-slider, .why-trusted-images-slider {
    padding: 0; }
  .why-trusted-navigation-slider__item {
    font-size: 14px; }
  footer .phone {
    font-size: 40px; }
  .technology-images-slider__item, .technology-images-slider {
    min-width: calc(100% + 25px); }
  .personal-cinema-tabs {
    max-width: 990px; } }

@media only screen and (max-width: 1460px) {
  .as-panel.as-opened .as-panel__content {
    padding: 10px 53px 50px; }
    .as-panel.as-opened .as-panel__content h3 {
      font-size: 40px; }
    .as-panel.as-opened .as-panel__content .box-text {
      font-size: 18px; }
  .showroom h2 {
    font-size: 70px; }
  .showroom .box-text {
    font-size: 22px;
    line-height: normal;
    max-width: none; }
  .nav-tabs {
    font-size: 18px; }
    .nav-tabs .nav-item {
      margin: 0 25px 0 0; }
  .completed-projects {
    padding: 60px 0 0; }
  .nav-tabs-portfolio {
    margin: 30px 0 0; }
    .nav-tabs-portfolio .nav-item {
      margin: 0 30px 20px 0; }
      .nav-tabs-portfolio .nav-item:last-child {
        margin: 0 0 20px; }
  .technology-slider__item .box-text {
    font-size: 16px;
    line-height: normal; }
  .personal-cinema-tabs {
    max-width: 800px;
    margin: 0;
    padding: 0 20px; }
  .personal-cinema-tabs .nav-item {
    margin: 0; } }

@media only screen and (max-width: 1320px) {
  .header-top {
    padding: 20px 0; }
  .link-calculate {
    font-size: 18px; }
  .header-box {
    margin: 0 30px; }
  .menu {
    font-size: 18px;
    margin: 0 30px 0 auto; }
  .why-trusted-navigation-slider__item {
    font-size: 12px; }
  .counter-slide {
    margin: 30px 0;
    font-size: 22px; }
  footer {
    padding: 50px 0; }
    footer .phone {
      font-size: 34px; }
    footer .link-calculate {
      font-size: 26px; }
  .form-calculate .form-group {
    max-width: 33.3%; }
  .personal-cinema-tabs {
    max-width: 700px; }
  .personal-cinema-navigation-slider {
    max-width: 270px; }
  .personal-cinema-images__item {
    height: 550px; } }

@media only screen and (max-width: 1279px) {
  .homescript-slider {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px); }
  .homescript-slider-link {
    min-height: 100%;
    max-height: 100%;
    min-width: 100%; }
  .homescript-slider .homescript-slider-block {
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: 0s;
            transition-duration: 0s; }
  .homescript-slider-block + .homescript-slider-block .homescript-slider-link:before {
    content: '';
    position: absolute;
    width: 100vw;
    left: 0;
    top: -1px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.7); }
  .homescript-slider .homescript-slider-link {
    position: relative;
    -webkit-transition-property: background, padding;
    transition-property: background, padding; }
  .homescript-slider.homescript-slider--active .homescript-slider-block {
    -webkit-transition-property: none;
    transition-property: none;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s; }
  .homescript-slider.homescript-slider--active .homescript-slider-link {
    -webkit-transition-property: background, max-height, min-height, padding;
    transition-property: background, max-height, min-height, padding;
    padding-bottom: 30px; }
  .homescript-body {
    -webkit-transition-property: none;
    transition-property: none; }
  .homescript-slider--active .homescript-slider-block {
    opacity: 0;
    pointer-events: none; }
  .homescript-slider-block {
    max-width: 100%;
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .homescript-slider-block + .homescript-slider-block {
    border-left-width: 0; }
  .homescript-slider:not(.homescript-slider--active) .homescript-slider-block {
    height: 25%; }
  .homescript-header {
    min-height: 100%;
    -webkit-transition-property: none;
    transition-property: none; }
  .homescript-slider-nav {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .homescript-slider-block--active {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .homescript-slider--active .homescript-slider-block--active {
    opacity: 1;
    pointer-events: auto; } }

@media only screen and (max-width: 1200px) {
  .as-panel.as-opened .as-panel__content {
    padding: 10px 15px 30px; }
    .as-panel.as-opened .as-panel__content h3 {
      font-size: 30px; }
  .as-panel__content {
    padding: 20px 15px; }
  .container {
    padding: 0 15px; }
  .row {
    margin: 0 -15px; }
    .row > * {
      padding: 0 15px; }
  .mb-60 {
    margin-bottom: 30px; }
  .mb-40 {
    margin-bottom: 20px; }
  .menu li {
    margin: 0 20px 0 0; }
  .btn-burger {
    width: 40px; }
  .phone {
    font-size: 18px; }
  .why-trusted-navigation {
    padding: 20px 0; }
  .why-trusted-slider h3 {
    margin: 0 0 30px;
    font-size: 22px; }
  .why-trusted-slider .box-text {
    font-size: 16px;
    line-height: normal; }
  .why-trusted-navigation-slider__item {
    max-width: 300px;
    font-size: 14px; }
  .showroom {
    padding: 400px 0 100px; }
    .showroom h2 {
      font-size: 60px; }
  .btn-lg {
    height: 70px;
    font-size: 22px; }
  .projects {
    padding: 60px 0; }
  .projects-slider .slide {
    padding: 0 15px; }
  .projects-slider .slick-list {
    margin: 0 -15px; }
  .projects-box__image {
    height: 250px; }
  .projects-box__body {
    padding: 20px; }
  .projects-box__head {
    padding: 15px 20px; }
  .projects-box .box-text {
    font-size: 16px;
    line-height: normal; }
  .projects-box__title {
    font-size: 20px;
    line-height: normal;
    max-width: none; }
  .technology-slider .slick-current .technology-slider__item img {
    display: block; }
  .nav-tabs {
    width: 100%;
    margin: 20px 0 0; }
  .submenu {
    font-size: 16px; }
  .about-in-number {
    font-size: 20px; }
  .reviews-box {
    padding: 20px; }
    .reviews-box h4 {
      font-size: 20px; }
    .reviews-box__name {
      padding: 0 0 0 10px; }
    .reviews-box__head {
      margin: 0 0 15px; }
    .reviews-box__footer {
      margin: 20px 0 0; }
    .reviews-box__body {
      font-size: 16px;
      line-height: normal; }
  .reviews-slider .slide, .certificates-slider .slide {
    padding: 0 15px; }
  .reviews-slider .slick-list, .certificates-slider .slick-list {
    margin: 0 -15px; }
  .certificates-slider__nav {
    margin: 30px auto 0; }
  .partners-box {
    font-size: 22px;
    height: 110px; }
  .case-implementation {
    padding: 50px 0 70px; }
  .seo-content {
    padding: 40px 0; }
  .case-task .box-text {
    font-size: 16px;
    line-height: normal;
    max-width: none; }
  .all-projects {
    padding: 80px 0; }
  .all-projects-image {
    max-width: 600px; }
  .technology-images-slider__item, .technology-images-slider {
    min-width: auto; }
  .technology-images-slider {
    padding: 0; }
  .why-trusted {
    padding: 60px 0; }
  .personal-cinema-tabs {
    margin: 0;
    max-width: none;
    border-bottom-color: #868585; }
    .personal-cinema-tabs .nav-link {
      padding: 0 0 20px; }
  .figure-border {
    display: none; }
  .personal-cinema__content:before {
    height: 100%;
    right: -15px; }
  .personal-cinema-navigation-slider {
    max-width: none;
    padding: 0;
    text-align: center;
    margin: 20px 0 10px;
    font-size: 15px; }
  .personal-cinema h2 {
    margin: 0 0 30px; } }

@media only screen and (max-width: 1024px) {
  .homescript-slider-block--active .homescript-slider-link {
    padding: 35px 25px; } }

@media only screen and (max-width: 992px) {
  header .menu, header .link-calculate {
    display: none; }
  .header-box {
    margin: 0 auto; }
  .as-panel__content .box-text {
    font-size: 15px;
    line-height: normal; }
  .as-panel__content h3 {
    margin: 0 0 10px;
    font-size: 18px; }
  .as-panel.as-opened .as-panel__content h3 {
    font-size: 24px; }
  .as-panel.as-opened .as-panel__content .box-text {
    font-size: 15px;
    line-height: normal; }
  .why-trusted-slider {
    margin: 0 0 30px; }
    .why-trusted-slider .box-text {
      max-width: none; }
  .why-trusted__description {
    width: 100%; }
    .why-trusted__description:before {
      display: none; }
  .why-trusted {
    padding: 60px 0; }
    .why-trusted h2 {
      max-width: none;
      margin: 0 0 20px; }
  .why-trusted-images-slider__item {
    height: auto; }
  .showroom {
    padding: 300px 0 60px; }
    .showroom h2 {
      text-align: center;
      margin: 0 auto 20px;
      font-size: 40px; }
    .showroom .box-text {
      font-size: 18px;
      text-align: center; }
    .showroom .btn {
      margin: 20px auto 0; }
  .btn-md {
    font-size: 18px;
    height: 50px; }
  .projects-slider {
    margin: 0 0 30px; }
    .projects-slider__nav {
      margin: 0 auto 20px; }
  footer .logo {
    margin: 0 auto 20px; }
  .address {
    max-width: none;
    text-align: center;
    margin: 0 auto 30px; }
  .footer-box {
    margin: 0 0 20px;
    font-size: 16px; }
  .footer-contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .list-social {
    margin: 20px auto; }
  .form-calculate .form-group {
    max-width: none;
    margin: 0 0 30px; }
    .form-calculate .form-group:last-child {
      margin: 0; }
  .form-col {
    margin: 0 0 30px; }
  .form-group-last .form-col__head {
    margin: 0 0 20px; }
  .about {
    padding: 60px 0 40px; }
    .about h2 {
      margin: 0 0 20px; }
  .about-description {
    font-size: 16px;
    line-height: normal; }
    .about-description p {
      margin: 0 0 20px; }
  .about-box {
    padding: 0 0 15px;
    margin: 0 0 30px; }
  .about-in-number {
    margin: 0 0 20px; }
  .benefits__number {
    font-size: 70px; }
  .reviews {
    padding: 60px 0 50px; }
  .certificates h2, .partners h2 {
    margin: 0 0 30px; }
  .partners {
    padding: 60px 0 40px; }
  .case-task__image {
    margin: 20px auto 0; }
  .homescript-body-text h3 {
    margin: 10px 0;
    font-size: 18px;
    max-width: none; }
  .homescript-slider-images {
    min-height: 60%;
    height: 60%; }
  .homescript-body-text {
    font-size: 14px;
    line-height: normal; }
  .nav-tabs {
    line-height: 1.5; }
  .why-trusted-images-slider {
    width: calc(100% + 30px);
    margin: 0 -15px 22px; }
  .why-trusted-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .why-trusted-wrapper .counter-slide {
      margin: 0; }
  .why-trusted-slider {
    width: calc(100% - 60px);
    padding: 0 0 0 19px;
    margin: 0; }
  .why-trusted-navigation-slider__item {
    max-width: 200px; } }

@media only screen and (max-width: 768px) {
  h2 {
    line-height: normal;
    font-size: 30px; }
  .link-all {
    margin: 0 auto; }
  .projects h2 {
    margin: 0 auto 20px; }
  .header-bottom {
    display: none; }
  .home {
    min-height: 500px;
    padding: 100px 0; }
    .home .box-text {
      font-size: 20px;
      line-height: normal; }
  h1 {
    font-size: 70px;
    margin: 0 0 30px; }
  .team-box h4 {
    font-size: 20px; }
  .team-box__body {
    padding: 20px; }
  .team-box__footer {
    margin: 20px 0 0;
    padding: 15px 0 0; }
  .all-projects {
    padding: 60px 0; }
  .all-projects-image {
    max-width: 400px; }
  .technology-images-slider__item {
    height: auto; }
  .technology-images-slider {
    margin: 30px 0 0; }
  .counter-slide {
    margin: 20px 0; }
  .technology-slider .slick-current .technology-slider__item h3 {
    font-size: 22px; }
  .technology-slider__item .box-text {
    margin: 15px 0 0; }
  .tab-content__left {
    max-width: none;
    width: 100%; }
  .tab-content__right {
    max-width: none;
    width: 100%;
    padding: 0; }
  .personal-cinema-images {
    margin: 20px 0 0; }
    .personal-cinema-images .slick-dots {
      margin: 20px 0 0; }
  .personal-cinema-images__item {
    height: auto; }
  .personal-cinema {
    padding: 60px 0 0; }
  .personal-cinema__content {
    padding: 40px 0 30px; }
  .homescript-slider-images {
    min-height: auto;
    height: auto;
    top: 0;
    bottom: 0; }
  .homescript-image {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left center;
       object-position: left center;
    -webkit-transition-duration: 0s;
            transition-duration: 0s; }
  .homescript-slider-block--active .homescript-header {
    min-height: auto; }
  .homescript-slider-block--active .homescript-slider-link {
    padding-bottom: 70px;
    height: 100vh;
    min-height: 520px; }
  .homescript-slider.homescript-slider--active .homescript-slider-block {
    height: 0; }
  .homescript-slider.homescript-slider--active .homescript-slider-block--active {
    height: 520px; }
  .homescript-slider.homescript-slider--active .homescript-slider-link {
    -webkit-transition-property: none;
    transition-property: none;
    padding-bottom: 60px; }
  .homescript-body-text {
    position: relative; }
  .homescript-slider:not(.homescript-slider--active) .homescript-slider-block {
    height: 130px; }
  .homescript-image-main .rt-img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%; }
  .homescript-image-main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%; }
  .smart-icon {
    width: 56px;
    height: 56px; }
  .homescript-slider-block--active {
    position: relative; }
  .homescript-slider-nav {
    position: relative;
    width: 100%; }
  .homescript-header h4 {
    font-size: 22px; }
  .homescript-slider-link {
    background: rgba(0, 0, 0, 0.8); }
  .homescript-slider-block--active .homescript-slider-go-back {
    bottom: 0; } }

@media only screen and (max-width: 576px) {
  .header-top {
    padding: 0; }
  .logo {
    max-width: 100px; }
  .header-box {
    font-size: 12px; }
  .phone {
    font-size: 14px; }
  .btn-burger {
    background: #03B3DA;
    margin: 0 -15px 0 0;
    width: 56px;
    height: 56px;
    padding: 10px 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .btn-burger span {
      width: 27px;
      margin: 0 0 6px; }
      .btn-burger span:last-child {
        margin: 0; }
  .as-panel__content {
    padding: 24px; }
    .as-panel__content h3 {
      font-weight: normal;
      font-size: 13px;
      white-space: nowrap;
      -webkit-transition: all .4s linear;
      transition: all .4s linear;
      bottom: 100%;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    .as-panel__content .box-text {
      font-size: 12px;
      display: none; }
    .as-panel__content .btn {
      margin: 15px 0 0;
      display: none; }
  .as-panel.as-opened .as-panel__content {
    display: block;
    padding: 15px; }
    .as-panel.as-opened .as-panel__content h3 {
      font-weight: bold;
      font-size: 17px;
      -webkit-transform: none;
              transform: none;
      white-space: normal; }
    .as-panel.as-opened .as-panel__content .box-text {
      display: none; }
    .as-panel.as-opened .as-panel__content .btn {
      display: none; }
    .as-panel.as-opened .as-panel__content .btn-calculate {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .as-pagination-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  h2 {
    font-size: 24px; }
  .why-trusted-navigation-slider__item {
    max-width: 200px; }
  .slick-dots .slick-active {
    width: 50px; }
  .btn-lg {
    height: 60px;
    font-size: 18px; }
  footer .phone {
    font-size: 28px; }
  footer .link-calculate {
    font-size: 20px; }
  .link-callback {
    font-size: 18px; }
  .schedule {
    margin: 0 auto 30px;
    font-size: 18px; }
  .modal-content {
    padding: 30px 20px; }
    .modal-content .phone {
      font-size: 24px; }
    .modal-content .address {
      margin: 10px auto 20px;
      font-size: 18px; }
      .modal-content .address p {
        margin: 0 0 20px; }
  .modal-title {
    font-size: 24px;
    line-height: normal; }
  .modal-header {
    padding: 0 0 15px; }
  .modal-body {
    padding: 15px 0 0; }
  #calculateModal .modal-content {
    padding: 30px 20px; }
  #calculateModal .modal-header {
    padding: 0 0 15px; }
  .form-col__head {
    font-size: 18px; }
  .box-scroll-vertical {
    max-height: 300px; }
  .form {
    margin: 0 auto; }
  input, textarea, select {
    padding: 15px;
    font-size: 16px; }
  label {
    margin: 0 0 16px; }
  .btn {
    padding: 0 15px; }
  .btn-icon {
    width: 24px;
    height: 12px; }
  .why-trusted {
    padding: 60px 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .showroom h2 {
    font-size: 34px; }
  .showroom .btn {
    max-width: none;
    width: 100%; }
  .radio {
    padding: 10px; }
  h1 {
    font-size: 50px; }
  .home {
    padding: 60px 0;
    min-height: 400px; }
    .home .box-text {
      font-size: 18px; }
  .completed-projects .projects-box {
    margin: 0 0 30px; }
  .btn-activation {
    margin: 30px auto 0; }
  .all-projects-slider {
    margin: 0 auto 30px; }
    .all-projects-slider .slide {
      margin: 0;
      padding: 0 15px; }
  .all-projects-image {
    max-width: none; }
  .column-2 {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
  .case-video-section .btn {
    font-size: 18px;
    height: 45px;
    max-width: 300px; }
  .personal-cinema-slider h3 {
    font-size: 22px;
    margin: 0 0 25px; }
  .personal-cinema-slider .box-text {
    font-size: 16px;
    line-height: normal; }
  .personal-cinema-tabs {
    padding: 0 10px; }
  .nav-tabs {
    line-height: 1.7; } }

@media only screen and (max-width: 480px) {
  .mobile-menu {
    max-width: 280px; }
  .slick-dots li {
    margin: 0 10px 0 0; }
  h1 {
    font-size: 40px; }
  .showroom h2 {
    font-size: 28px; }
  .why-trusted-navigation-slider__item {
    font-size: 12px; } }

@media only screen and (max-width: 420px) {
  header .logo {
    margin: 0 auto 0 0; }
  .why-trusted-navigation-slider__item {
    font-size: 13px; }
  .why-trusted__description {
    font-size: 16px;
    line-height: normal; }
  .reviews-box__photo {
    width: 50px;
    height: 50px; }
  .reviews-box__name {
    width: calc(100% - 50px); }
  .reviews-box h4 {
    font-size: 18px;
    max-width: none; }
  .reviews-box .position {
    margin: 5px 0 0;
    font-size: 14px; }
  .why-trusted-navigation-slider__item {
    font-size: 12px;
    max-width: 110px; } }

@media only screen and (min-width: 1200px) {
  .personal-cinema-navigation-slider .slick-track {
    -webkit-transform: none !important;
            transform: none !important; }
  .personal-cinema-navigation-slider .slick-list {
    height: 100% !important; } }
