@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 26px 30px 9px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #000000;
    border-radius: 0;
  width: 100%;
  height: 60px;
  color: #000; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #747474; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #747474; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #747474; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #747474; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

label {
  display: block;
  width: 100%;
  margin: 0 0 24px; }
  label:last-child {
    margin: 0; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 0 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 32px; }

.btn-accent {
  color: #fff;
  background: #03B3DA; }
  .btn-accent:hover {
    background: #676767;
    color: #fff; }
    .btn-accent:hover .btn-icon {
      stroke: #fff; }

.btn-icon {
  width: 30px;
  height: 16px;
  stroke: #fff;
  fill: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn-text {
  margin: 0 auto; }

.btn-border {
  border: 1px solid #000000;
  height: 32px;
  padding: 0 20px;
  font-size: 13px;
  font-weight: normal; }
  .btn-border:hover {
    background: #03B3DA;
    color: #fff;
    border-color: #03B3DA; }

.btn-border-white {
  color: #fff;
  border: 1px solid #FFFFFF; }
  .btn-border-white:hover {
    background: #03B3DA;
    border-color: #03B3DA;
    color: #fff;
    font-weight: bold; }

.btn-md {
  height: 58px;
  padding: 0 67px;
  font-size: 20px; }

.btn-lg {
  height: 81px;
  font-size: 28px;
  font-weight: bold; }

.btn.w-100 {
  width: 100%; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

.fill-none {
  fill: none; }

strong, b {
  font-weight: bold;
  display: inline-block; }

ul, ol {
  padding: 0 0 0 20px; }

.my-ul {
  list-style: none;
  padding: 0; }

.container {
  max-width: 1670px;
  padding: 0 26.5px; }

.row {
  margin: 0 -26.5px; }
  .row > * {
    padding: 0 26.5px; }

.box-text {
  line-height: 18px;
  font-size: 16px; }

h1 {
  margin: 0 0 57px;
  font-size: 101px;
  line-height: 1;
  font-weight: bold; }

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px; }

h3 {
  font-size: 20px;
  font-weight: bold;
  width: 100%; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-60 {
  margin-bottom: 60px; }

.font-400 {
  font-weight: 400; }

.color-black {
  color: #000; }

a.color-black:hover {
  color: #03B3DA; }

.color-white {
  color: #ffffff; }

a.color-white:hover {
  color: #03B3DA; }

.color-accent {
  color: #03B3DA; }

a.color-accent:hover {
  color: #676767; }

.bg-light-grey {
  background: #F0F0F0; }

.bg-black {
  background: #000000;
  color: #fff; }

.text-decoration {
  text-decoration: underline; }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  position: relative;
  bottom: 0;
  margin: 0 auto; }
  .slick-dots li {
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 24px 0 0;
    width: 10px;
    height: 10px;
    background: #BABABA;
    border-radius: 50%; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    background: #03B3DA;
    height: 10px;
    width: 67px;
    border-radius: 12px; }

.slick-arrow {
  position: relative;
  opacity: 1;
  z-index: 1;
  border: none;
    border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 16px;
  fill: none;
  stroke: #000;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background: transparent;
  padding: 0; }
  .slick-arrow:hover {
    stroke: #03B3DA; }

.slider-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .slider-nav .slick-next {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

.slider-nav-white .slick-arrow {
  stroke: #fff; }

.list-social {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .list-social li {
    margin: 0 13px 0 0; }
    .list-social li a {
      width: 38px;
      height: 38px;
      border: 1px solid #fff;
      padding: 10px 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      fill: #fff; }
      .list-social li a:hover {
        background: #03B3DA;
        border-color: #03B3DA; }

.nav-tabs {
  border: none;
  font-size: 20px;
  font-weight: 500; }
  .nav-tabs .nav-item {
    margin: 0 49px 0 0; }
    .nav-tabs .nav-item:last-child {
      margin: 0; }
  .nav-tabs .nav-link {
    padding: 0;
    border: none;
      border-radius: 0;
    margin: 0;
    color: #000;
    border: none; }
    .nav-tabs .nav-link:hover {
      color: #03B3DA; }
    .nav-tabs .nav-link.active {
      color: #03B3DA;
      text-decoration: underline; }

.column-2 {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }
