@import "vars"

/*==========  section accordion-slider ==========*/
.as-mask, .as-panels
  width: calc(100% + 2px) !important

.as-panel
  box-shadow: none
  overflow: hidden
  transition: all .4s linear
  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.56)
    mix-blend-mode: multiply
    transition: all 1.2s linear

  &.as-opened
    &:before
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.78) 100%)
      height: 444px
      mix-blend-mode: multiply
    .as-panel__content
      padding: 10px 155px 132px
      .btn
        display: flex
      h3
        font-size: 50px
        margin: 0 0 15px
      .box-text
        font-size: 20px
        max-width: 547px
        line-height: 27px

  &__content
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    padding: 20px 60px 100px
    color: #fff
    transition: all 1.2s linear
    .btn
      display: none
      margin: 26px 0 0

    h3
      margin: 0 0 30px
      transition: all 1s linear

    .box-text
      max-width: 239px
      transition: all 1.2s linear

  .as-background
    width: 100%
    height: 100% !important
    object-fit: cover !important
    transition: all .7s

.as-shadow
  box-shadow: none

/*==========  section accordion-slider end  ==========*/



/*==========  section why-trusted ==========*/
.why-trusted
  padding: 89px 0 20px
  position: relative
  overflow: hidden

  h2
    max-width: 376px

  &__description
    line-height: 22px
    font-size: 18px
    position: relative
    display: flex
    align-items: center
    margin-left: auto
    width: calc(100% - 376px)

    &:before
      content: ''
      display: inline-block
      width: 62px
      min-width: 62px
      height: 0.75px
      background: #FFFFFF
      margin: 0 40px 0 0

.counter-slide
  display: flex
  align-items: center
  margin: 75px 0 80px
  font-size: 25px

.why-trusted-slider
  h3
    color: $accent
    margin: 0 0 60px
    font-weight: normal
    font-size: 24px

  .box-text
    font-size: 18px
    line-height: 22px
    max-width: 379px

.why-trusted-images-slider
  min-width: 1288px
  padding: 0 0 0 60px

  &__item
    min-width: 1288px
    height: 552px
    overflow: hidden
    @include d-flex

    img
      width: 100%
      height: 100%
      object-fit: cover

.why-trusted-navigation-slider
  padding: 0 0 0 60px
  font-weight: bold
  min-width: 1288px

  .slick-current
    color: #676767

  &__item
    cursor: pointer

.why-trusted-navigation
  padding: 39px 0
  border-top: 0.75px solid #FFFFFF

/*==========  section why-trusted end  ==========*/


/*==========  section showroom ==========*/
.showroom
  background: url("../img/showroom-bg.jpeg") no-repeat center
    size: cover
  position: relative
  color: #ffff
  z-index: 1
  padding: 441px 0 180px
  overflow: hidden

  h2
    font-size: 101px
    line-height: 1

  &:before
    content: ''
    position: absolute
    z-index: -1
    width: 100%
    height: 100%
    left: 0
    top: 0
    background: rgba(0, 0, 0, 0.5)
    mix-blend-mode: multiply

  .box-text
    max-width: 683px
    line-height: 34px
    font-size: 28px

  .btn
    margin: 24px 0 0 auto
/*==========  section showroom end  ==========*/



/*==========  section project ==========*/
.projects
  padding: 100px 0 120px


.link-all
  margin: 0 0 0 auto

.projects-box
  width: 100%
  height: 100%
  color: #fff
  background: #000
  font-size: 16px

  &__head
    padding: 26px 44px

  &__image
    width: 100%
    height: 362px
    @include d-flex

    img
      width: 100%
      height: 100%
      object-fit: cover

  &__body
    width: 100%
    padding: 33px 52px 53px 44px

  .btn
    margin: 20px 0 0 auto
    font-size: 13px
    font-weight: normal

  &__title
    color: #fff
    max-width: 170px
    font-size: 23px
    font-weight: bold
    margin: 0 0 12px

    &:hover
      color: $accent

  .box-text
    font-size: 18px
    line-height: 22px

.projects-slider
  margin: 0 0 50px

  .slide
    padding: 0 21.5px
    height: auto

  .slick-list
    margin: 0 -21.5px

  .slick-track
    display: flex
    align-items: stretch

/*==========  section project end  ==========*/


/*==========  section home ==========*/
.home
  position: relative
  z-index: 1
  color: #fff
  padding: 124px 0
  min-height: 750px
  display: flex
  align-items: flex-end

  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 444px
    z-index: -1
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.78) 100%)
    mix-blend-mode: multiply

  .box-text
    font-size: 25px
    line-height: 29px
    max-width: 920px

.home-about
  background: url("../img/home-about.jpeg") no-repeat center
    size: cover


/*==========  section home end  ==========*/



/*==========  section about ==========*/
.about
  padding: 105px 0 80px

  h2
    margin: 0 0 45px

.about-description
  font-size: 18px
  line-height: 22px


.about-box
  padding: 0 0 70px
  margin: 0 0 63px
  border-bottom: 1px solid #FFFFFF

  &:last-child
    padding: 0
    margin: 0
    border: none

.about-in-number
  font-size: 25px

.benefits__number
  margin: 0 0 12px
  font-size: 101px
  line-height: 1
  color: $accent

.team-box
  width: 100%
  height: 100%
  border: 0.75px solid #000000
  background: #fff
  color: #000

  &__photo
    width: 100%
    height: 227px
    background: #D9D9D9
    @include d-flex

  &__body
    padding: 27px 25px 38px
    width: 100%

  h4
    font-size: 22px
    font-weight: 600
    margin: 0 0 13px

  .position
    color: #7D7D7D

  &__footer
    margin: 34px 0 0
    padding: 18px 0 0
    width: 100%
    border-top: 0.75px solid #000000

.list-contacts
  display: flex
  align-items: flex-start
  justify-content: flex-end
  flex-wrap: wrap

  li
    margin: 0 20px 0 0

    &:last-child
      margin: 0

    a
      @include d-flex
      width: 34px
      height: 34px
      border: 0.75px solid #000000
        radius: 50%
      fill: #000
      padding: 8px

      &:hover
        background: $accent
        border-color: $accent

    .fill-none
      fill: none
      stroke: #000


.team-wrapper
  margin: 0 -10px

  > *
    padding: 0 10px
/*==========  section about end  ==========*/

/*==========  section reviews ==========*/
.reviews
  padding: 103px 0 54px

.reviews-slider
  margin: 0 auto 35px

  .slide
    padding: 0 21.5px

  .slick-list
    margin: 0 -21.5px

.reviews-box
  margin: 0 0 25px
  background: #fff
  width: 100%
  padding: 39px 40px 48px 36px

  &__head
    width: 100%
    display: flex
    align-items: center
    margin: 0 0 28px

  &__photo
    @include d-flex
    width: 95px
    height: 94px
    overflow: hidden

    img
      width: 100%
      height: 100%
      object-fit: cover

  &__name
    width: calc(100% - 95px)
    padding: 0 0 0 34px

  h4
    font-size: 23px
    font-weight: bold
    max-width: 200px

  .position
    color: #747474
    font-size: 18px
    margin: 10px 0 0

  &__body
    font-size: 18px
    line-height: 22px

    p
      margin: 0 0 25px

      &:last-child
        margin: 0

  &__footer
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin: 29px 0 0

  .date
    color: #747474
    font-size: 18px

.reviews-v2
  padding: 105px 0 120px
/*==========  section reviews end  ==========*/



/*==========  section certificates ==========*/
.certificates
  h2
    margin: 0 0 46px

.certificates-slider
  .slide
    padding: 0 60px

  .slick-list
    margin: 0 -60px

  &__nav
    max-width: 1100px
    width: 100%
    margin: 60px auto 0

.certificate-box
  width: 100%
  @include d-flex

  img
    width: 100%


/*==========  section certificates end  ==========*/


/*==========  section partners ==========*/
.partners
  padding: 119px 0 89px

  h2
    margin: 0 0 46px

.partners-row
  margin: 0 -11px

  > *
    padding: 0 11px

.partners-box
  width: 100%
  height: 139px
  @include d-flex
  background: #D9D9D9
  font-size: 38px
  font-weight: 600
  text-align: center
  color: #fff

  img
    max-height: 100%

/*==========  section partners end  ==========*/



/*==========  section home-portfolio ==========*/
.home-portfolio
  background: url("../img/home-portfolio.jpg") no-repeat center
    size: cover

.completed-projects
  padding: 107px 0 0

  .projects-box
    height: auto
    margin: 0 0 53px 0

    &:last-child
      margin: 0

  .projects-slider__nav
    max-width: 1000px
    margin: 0 auto

.nav-tabs-portfolio
  margin: 53px 0 0
  font-size: 25px

  .nav-item
    margin: 0 144px 26px 0

  .nav-link
    text-decoration: none
    color: #000000

    &.active
      background: transparent
      color: $accent

.btn-activation
  margin: 52px auto 0
  max-width: 499px
  width: 100%
/*==========  section home-portfolio end  ==========*/

/*==========  section home-case ==========*/
.home-case
  background: url("../img/case-home.jpg") no-repeat center
    size: cover

.case-task
  padding: 59px 0 50px

  .box-text
    max-width: 700px
    font-size: 18px
    line-height: 22px

  h2
    margin: 0 0 27px

.case-implementation
  padding: 50px 0 237px

.seo-content
  margin: 87px 0 0
  width: 100%
  padding: 65px 0 70px
  border:
    bottom: 1px solid #000000
    top: 1px solid #000000

  .box-text
    max-width: none

.case-video-section
  background: url("../img/video-preview.jpeg") no-repeat center
    size: cover


.fullscreen-bg__video
  position: absolute
  top: 0
  left: 0
  right: 0
  margin: 0 auto
  width: 100%
  height: 100%
  object-fit: cover

.all-projects
  padding: 120px 0

.all-projects-slider
  margin: 0 0 77px

  .slide
    margin: 0 22px


.all-projects-image
  display: flex
  align-items: center
  justify-content: center
  max-width: 726px
  width: 100%
/*==========  section home-case end  ==========*/



/*==========  section home-cinema ==========*/
.home-cinema
  background: url("../img/tvs-bg.jpg") no-repeat center
    size: cover

.projects-v2
  padding: 102px 0 0
/*==========  section home-cinema end  ==========*/



/*==========  section case-video-section ==========*/
.case-video-section
  background: url("../img/tvs-showdown.jpeg") no-repeat center
    size: cover

  .btn
    margin: 74px 0 0
    max-width: 252px
    height: 58px
    width: 100%
    font-weight: normal
    font-size: 20px

.technology-images-slider
  padding: 0 0 0 60px
  min-width: 1288px

.technology-images-slider__item
  min-width: 1288px
  height: 552px
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden

.counter-slide-v2
  margin: 0

.technology-slider__item
  position: relative
  padding: 0 0 27px
  border-bottom: 1px solid #fff

  h3
    font-size: 17px
    font-weight: bold
    margin: 27px 0 0
    transition: .3s ease

  .box-text
    font-size: 18px
    line-height: 22px
    margin: 27px 0 0
    display: none
    transition: .3s ease

.technology-slider
  .slick-track, .slick-list
    height: auto !important

  .slick-current
    .technology-slider__item
      .box-text
        display: block

      h3
        font-size: 25px
        color: #03B3DA
/*==========  section case-video-section end  ==========*/



/*==========  section personal-cinema ==========*/
.personal-cinema
  padding: 103px 0 0

  h2
    margin: 0 0 94px

.personal-cinema__content
  width: 100%
  position: relative
  //z-index: 1
  color: #fff
  padding: 57px 0 0
  display: flex
  align-items: flex-start
  flex-wrap: wrap

  &:before
    content: ''
    position: absolute
    z-index: -1
    bottom: 0
    right: 0
    height: calc(100% + 111px)
    width: 2000px
    border: 0.75px solid #000000
    background: #000

.figure-border
  position: absolute
  bottom: 0
  right: -45px
  width: 45px
  border: 0.75px solid #000000
  height: calc(100% + 111px - 13px)

  &:nth-child(2)
    height: calc(100% + 111px - 27px)
    right: -90px
    border-left: none

  &:nth-child(3)
    height: calc(100% + 111px - 40px)
    right: -135px
    border-left: none

.personal-cinema-tabs
  font-size: 15px
  font-weight: 700
  max-width: 1012px
  width: 100%
  padding: 0 43px
  margin: 0 0 0 -43px
  border-bottom: 1px solid #FFFFFF
  position: relative
  z-index: 3
  justify-content: space-between

  .nav-link
    font-weight: 700
    font-size: 15px
    color: #868585
    padding: 0 0 36px

    &.active
      text-decoration: underline
      color: #868585
      background: transparent

.tab-content__left
  max-width: 345px
  width: 100%

  .counter-slide
    margin: 0 0 11px

.personal-cinema-slider
  h3
    color: $accent
    margin: 0 0 34px
    font-size: 25px
    font-weight: bold

  .box-text
    line-height: 22px
    font-size: 18px

  .slick-dots
    margin: 33px 0 0


.tab-content__right
  width: calc(100% - 345px)
  padding: 0 0 0 32px

.personal-cinema-images__item
  width: 100%
  height: 645px
  @include d-flex

  img
    width: 100%
    height: 100%
    object-fit: cover

.personal-cinema-navigation-slider
  width: 100%
  height: 100%
  max-width: 323px
  font-size: 18px
  float: right
  margin-left: auto
  text-align: right
  padding: 40px 0 0

  .slick-list
    padding: 0

  .slick-slide
    width: 100%
    max-height: 70px
    margin-bottom: 25px

  .personal-cinema-navigation-slider__item
    cursor: pointer

  .slick-current
    .personal-cinema-navigation-slider__item
      text-decoration: underline

.tab-content-slider-nav
  height: 100%
  text-align: right

  .tab-content__item
    height: 100%

  .tab-content__item.active
    display: block

/*==========  section personal-cinema end  ==========*/

/*==========  section home-tvs ==========*/
.home-tvs
  background: url("../img/tvs-bg.jpeg") no-repeat center
    size: cover

.tvs-video-section
  background: url("../img/project4.jpeg") no-repeat center
    size: cover
/*==========  section home-tvs end  ==========*/



/*==========  section home-house ==========*/
.home-house
  background: url("../img/house-bg.jpeg") no-repeat center
    size: cover

.house-video-section
  background: url("../img/showroom-tvs.jpg") no-repeat center
    size: cover
/*==========  section home-house end  ==========*/


/*==========  section  ==========*/

.homescript-slider-images
  height: 46%
  min-height: 46%
  position: relative


.homescript-image
  position: absolute
  top: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  opacity: 0
  filter: blur(10px) grayscale(1)
  transition-timing-function: ease-in-out
  transition-duration: 0.4s
  transition-property: filter, opacity

  .rt-img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: left center


.homescript-image--active
  position: absolute
  top: 0
  left: 0
  right: 0
  width: 100%
  opacity: 1
  filter: blur(0px) grayscale(0)

.homescript-slider-link
  background-color: #000
  display: flex
  flex-direction: column
  color: #fff
  padding: 0 34px
  max-height: 88px
  min-height: 88px
  transition-timing-function: ease-in-out
  transition-duration: 0.4s
  transition-property: background, max-height, min-height, padding
  cursor: pointer
  flex: 1


.rt-sys-icon
  width: 25px
  height: 14px
  stroke: #fff

.homescript-slider-go-back
  path
    transition-duration: 0.03s

  display: none

  .rt-sys-icon
    display: block



.homescript-slider-back
  animation: 1s showArrow linear

.homescript-slider-block--active
  .homescript-slider-go-back
    position: absolute
    left: 0
    bottom: 37px
    cursor: pointer
    display: block
    animation: 0.5s showArrow linear

  .homescript-header
    min-height: auto
    h4
      color: #03B3DA
      font-weight: bold
      margin: 0

  .homescript-slider-back
    display: none

  .homescript-slider-link
    padding-top: 53px
    background: rgba(0, 0, 0, 0.6)
    min-height: 100%
    max-height: 100%
    cursor: default
    background-blend-mode: multiply


  .homescript-body-text
    opacity: 1

  .homescript-body
    max-height: 800px
    min-height: 100%


.homescript-body
  position: relative
  overflow: hidden
  max-height: 0
  flex: 1
  transition-timing-function: ease-in-out
  transition-duration: 0.4s
  transition-property: max-height


.homescript-body-text
  position: absolute
  top: 0
  left: 0
  right: 0
  opacity: 0
  pointer-events: none
  transition-timing-function: ease-in-out
  transition-duration: 0.2s
  transition-property: opacity
  font-size: 16px
  line-height: 18px
  ul
    li
      margin: 0 0 10px
      &:last-child
        margin: 0
  h3
    font-weight: normal
    margin: 30px 0
    max-width: 300px
    line-height: 22px



.homescript-slider-block
  height: 100%
  display: flex
  align-items: flex-end
  min-width: 25%
  max-width: 25%
  transition-timing-function: ease-in-out
  transition-duration: 0.4s
  transition-property: height

  + .homescript-slider-block
    border-left: 1px solid rgba(255, 255, 255, 0.7)


.homescript-header
  display: flex
  justify-content: space-between
  align-items: center
  transition-timing-function: ease-in-out
  transition-duration: 0.4s
  transition-property: min-height
  min-height: 88px
  h4
    text-align: center
    margin: 0 auto
    font-size: 25px
    line-height: 35px


.homescript-image-main
  transition-timing-function: ease-in-out
  transition-duration: 0.4s
  transition-property: opacity
  width: 100%
  display: block

  .rt-img
    width: 100%


.homescript-image-main--hide
  opacity: 0

.homescript-slider-nav
  position: absolute
  z-index: 3
  top: 0
  bottom: 0
  left: 0
  right: 0
  align-items: flex-end


.smart-icon
  width: 80px
  height: 80px



@keyframes showArrow
  0%
    opacity: 0

  80%
    opacity: 0

  100%
    opacity: 1
/*==========  section end  ==========*/



/*==========  section smart-home-scenarios ==========*/
.smart-home-scenarios
  padding: 103px 0 0

.box-text-description
  margin: 30px 0
  font-size: 18px
  line-height: 22px

/*==========  section smart-home-scenarios end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/